@model ContatoModel;

@{
    ViewData["Title"] = "Editar Contato";
}
<div class="text-center">
    <h1 class="display-4">Editar Contato</h1>
</div>
<form asp-controller="Contato" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do contato">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="form-group">
        <label for="email" class="form-label">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o e-mail do contato">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-group">
        <label for="celular" class="form-label">Celular</label>
        <input type="text" asp-for="Celular" class="form-control" id="celular" placeholder="Digite o celular do contato">
        @Html.ValidationMessageFor(x => x.Celular)
    </div>
    <br />
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a class="btn btn-secondary" role="button" asp-controller="Contato" asp-action="Index">Voltar</a>
    </div>
</form>
