@{
    ViewData["Title"] = "Index";
}

<div class="container">
   <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
   <div class="jumbotron">
      <h3>Queremos ouvir o que você tem a dizer</h3>
      <p>
         Se você tiver alguma dúvida ou sugestão fale conosco
      </p>
      <p>
        <span>
            <img src="~/images/Envelope-icon24.png" />
        </span>
        <h5><email endereco="matheus.uspeu@outlook.com" conteudo="Enviar um e-mail"></email></h5>
        <br />
        <span>
            <img src="~/images/phone-app-icon.png" />
        </span>
        <h5>(13) 99603-2109</h5>
        <br />
        <span>
            <img src="~/images/Home-iconred.png" />
        </span>
        <h5>Rua Carijós, 848 - 11360-100 - São Vicente</h5>
      </p>
   </div>
</div>