[*.cs]

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = none

# CS8634: The type cannot be used as type parameter in the generic type or method. Nullability of type argument doesn't match 'class' constraint.
dotnet_diagnostic.CS8634.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = none

# CS0109: Member does not hide an inherited member; new keyword is not required
dotnet_diagnostic.CS0109.severity = none
