<nav class="navbar navbar-expand-md navbar-dark bg-danger">
  <div class="container">
    <a class="navbar-brand" href="#">CRUD Básico</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 mr-3">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
    
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
              aria-controls="dropdown-basic">
        Matheus <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Perfil</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Sair</a>
        </li>
      </ul>
    </div>
  
  </div>
  </nav>
  
