@{
    Layout = "_layoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>Você não tem permissão para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">Clique aqui para voltar para home.</a></p>